header {
    margin: 0 auto;
    width: 100%;
}
header img {
    align-items: center;
    margin-top: 30px;
}
a {
    text-decoration: none;
}
.nav-item {
    padding-top: 1rem;
    padding-left: 1rem;
}
.card {
    height: 500px;
}
.blocimg {
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.imgindex {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.navtop, .navbot {
    display: flex;
}
footer {
    align-items: center;
    width: 100%;
}        