
.bloc {
    table {
        font-family:'Times New Roman', Times, serif;
        font-size: 0.7em;
    }
    p {
        color: black;
    }
    h2 {
        font-size: 2.5em;
        color: white;
    }
    h3 {
        font-size: 1.8em;
    }
}
.msg__error {
    font-size: 48px;
    color: white;
} 